# Go workspace files
go.work
go.work.sum

# Dependency directories
vendor/

# Go module files
*.mod
*.sum

# Environment variables file
.env

# IDE and editor specific files
*.idea/
*.vscode/

# Logs
*.log

# Temp
/**